body {
    background-color: rgb(50, 50, 50);
}

.center {
    text-align: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-family: monospace;
}

#cont_desc {
    font-size: 25px;
}


button {
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 20px;
    font-family: monospace;
    width: 50%;
    height: 50px;
    border: 2px solid grey;
    border-radius: 8px;
    transition-duration: 0.4s;
}


button:hover {
    background-color: grey;
    color: black;
    border: 2px solid black;
}


/* Styling for the timer below */
#clock {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(0, 250, 0);
    margin: auto;
}

span {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    text-align: center;
    font-size: 100px;
    font-family: monospace;
    color: white;
}