body {
    background-color: rgb(51, 50, 50);
}

.center {
    text-align: center;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.choice {
    color: blueviolet;
}


/* Styling for the timer below */
#clock {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(138, 0, 0);
    margin: auto;
}

span {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    text-align: center;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}